# Database Configuration
DB_NAME=msdl-jci
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Logging & Environment
DEBUG=false
LOG_LEVEL=INFO

# Machine Learning Defaults
ML_LOOK_BACK=3
ML_MAX_ITER=500
ML_RANDOM_STATE=42
