feedparser==6.0.11
trafilatura==1.12.2
pandas==2.2.2
pyarrow==16.0.0
requests==2.31.0
tqdm==4.66.2
python-dotenv==1.2.2
psycopg2==2.9.12
psycopg==3.3.4
psycopg-pool==3.3.1
typing-extensions==4.16.0
beautifulsoup4==4.15.0
cffi==2.1.1
curl-cffi==0.16.0
multitasking==0.0.13
peewee==4.3.0
platformdirs==4.11.0
protobuf==7.35.1
pycparser==3.0
soupsieve==2.9.1
websockets==17.0.1
yfinance==1.5.2